<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jshaw.greeknetwork"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/greek"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".GreekNetworkMainActivity"
            android:label="@string/title_activity_greek_network_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateMemberActivity"></activity>
        <activity android:name=".CreateEventActivity"></activity>
        <activity android:name=".EventListActivity"></activity>
        <activity android:name=".MemberListActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".EventActivity"></activity>
        <activity android:name=".SendMessageActivity"></activity>
        <activity android:name=".MessageListActivity"></activity>
        <receiver android:name=".MessageReceiver"> 
            <intent-filter android:priority="10000"> 
                <action android:name="android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    
</manifest>